<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>User Registration Form</h4>
                    <h6>Angular Reactive Form</h6>
                </div>
                <div class="card-body">
                    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" formControlName="firstName">
                            <span class="text-danger"
                                *ngIf="(registerFormControl['firstName'].touched || submitted) && registerFormControl['firstName'].errors?.['required']">
                                firstName is required
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName">
                            <span class="text-danger"
                                *ngIf="(registerFormControl['lastName'].touched || submitted) && registerFormControl['lastName'].errors?.['required']">
                                lastName is required
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" formControlName="phoneNumber">
                            <span class="text-danger"
                                *ngIf="(registerFormControl['phoneNumber'].touched || submitted) && registerFormControl['phoneNumber'].errors?.['required']">
                                phoneNumber is required
                            </span>
                        </div>
                        <div class="form-group">
                            <label>email</label>
                            <input type="text" class="form-control" formControlName="email">
                            <span class="text-danger"
                                *ngIf="(registerFormControl['email'].touched || submitted) && registerFormControl['email'].errors?.['required']">
                                email is required
                            </span>
                            <span class="text-danger"
                            *ngIf="registerFormControl['email'].touched && registerFormControl['email'].errors?.['email']">
                            Enter a valid email address
                        </span>
                        </div>
                        <div class="form-group">
                            <label>username</label>
                            <input type="text" class="form-control" formControlName="username">
                            <span class="text-danger"
                                *ngIf="(registerFormControl['username'].touched || submitted) && registerFormControl['username'].errors?.['required']">
                                username is required
                            </span>
                            <span class="text-danger"
                            *ngIf="registerFormControl['username'].touched && registerFormControl['username'].errors?.['userNameNotAvailable']">
                            User Name is not available
                           </span>
                        </div>
                        <div class="form-group">
                            <label>password</label>
                            <input type="text" class="form-control" formControlName="password">
                            <span class="text-danger"
                                *ngIf="(registerFormControl['password'].touched || submitted) && registerFormControl['password'].errors?.['required']">
                                password is required
                            </span>
                        </div>
                        <div class="form-group">
                            <label>confirmPassword</label>
                            <input type="text" class="form-control" formControlName="confirmPassword">
                            <span class="text-danger"
                                *ngIf="(registerFormControl['confirmPassword'].touched || submitted) && registerFormControl['confirmPassword'].errors?.['required']">
                                confirmPassword is required
                            </span>
                        </div>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" formControlName="gender">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female" formControlName="gender">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>

                        <span class="text-danger"
                          *ngIf="(registerFormControl['gender'].touched || submitted) && registerFormControl['gender'].errors?.['required']">
                          gender is required
                        </span>
                        
                        <div class="form-group">
                            <label for="city">city:</label>
                            <select formControlName="city" class="form-control" (change)="selectCity($event)">
                                <option disabled>Select city</option>
                                <option >Choose city</option>
                                <option *ngFor="let city of cityList">{{city}}</option>
                            </select>
                            <span class="text-danger"
                          *ngIf="(registerFormControl['city'].touched || submitted) && registerFormControl['city'].errors?.['required']">
                          city is required
                        </span>
                        </div>
                        
                        <div *ngFor="let cartoon of cartoonsData">

                            <label>
              
                              <input type="checkbox" [value]="cartoon.name" (change)="onChange($event,cartoon)" />
              
                              {{cartoon.name}}
              
                            </label>
              
                        </div>

              
                        
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Register</button>
                            <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>